## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

c:\Users\19802\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
c:\Users\19802\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
c:\Users\19802\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
c:\Users\19802\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
c:\Users\19802\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
c:\Users\19802\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
c:\Users\19802\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
c:\Users\19802\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
c:\Users\19802\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
c:\Users\19802\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
c:\Users\19802\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
c:\Users\19802\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
count_type = application_df['APPLICATION_TYPE'].value_counts()
count_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace =list(count_type.iloc[8:].index)
cutoff_value = 528

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification= application_df['CLASSIFICATION'].value_counts()
classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4200        1
C2570        1
C1820        1
C1900        1
C2500        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace= list(classification.iloc[:5].index)
cutoff_value_classification=1883

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

Other    32038
C7000      777
C1700      287
C4000      194
C5000      116
         ...
C1820        1
C1245        1
C4120        1
C4500        1
C2500        1
Name: CLASSIFICATION, Length: 67, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
number_numeric= pd.get_dummies(application_df)
number_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:

# Split our preprocessed data into our features and target arrays
y = number_numeric['IS_SUCCESSFUL'].values
X = number_numeric.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_number = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_number, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From c:\Users\19802\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 840
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 891
Trainable params: 891
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From c:\Users\19802\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.6509 - acc: 0.6755
Epoch 2/100
25724/25724 [==============================] - 9s 341us/sample - loss: 0.5830 - acc: 0.7149s - loss
Epoch 3/100
25724/25724 [==============================] - 7s 262us/sample - loss: 0.5701 - acc: 0.7248s - loss: 0.5736 - - ETA: 2s - loss: 0.5730 - acc: 0.7 - ETA: 1s -
Epoch 4/100
25724/25724 [==============================] - 9s 341us/sample - loss: 0.5661 - acc: 0.7268s - loss: 0.5659 - acc:  - ETA: 1 - ETA: 0s - loss: 0.5655 -
Epoch 5/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5637 - acc: 0.7280
Epoch 6/100
25724/25724 [==============================] - 6s 229us/sample - loss: 0.5623 - acc: 0.7297
Epoch 7/100
25724/25724 [==============================] - 9s 350us/sample - loss: 0.5609 - acc: 0.7291s - loss: 0.5552 - acc: 0 - ETA: 5s - loss: 0.5566 - acc: 0. - E - ETA: 2s - loss: 0.5579 - ac - ETA: 2s - loss: 0 - ETA: 1s - loss - ETA: 0s - loss: 0.5609 - acc: 0
Epoch 8/100
25724/25724 [==============================] - 12s 464us/sample - loss: 0.5602 - acc: 0.7299- ETA: 0s - loss: 0.5601 - acc: 0.7
Epoch 9/100
25724/25724 [==============================] - 12s 465us/sample - loss: 0.5592 - acc: 0.7306 - loss: 0.5 - ETA: 6s - loss: 0.5576 - acc: 0.730 - ETA:  - -
Epoch 10/100
25724/25724 [==============================] - 13s 502us/sample - loss: 0.5591 - acc: 0.7304 - loss: 0.5586 - acc:  - ETA: 2s - l - ETA: 0s - loss: 0.5585 - acc: 0 - ETA: 0s - loss: 0.5591 - acc: 0.73
Epoch 11/100
25724/25724 [==============================] - 14s 527us/sample - loss: 0.5585 - acc: 0.7298s  - - ETA:  - E
Epoch 12/100
25724/25724 [==============================] - 13s 514us/sample - loss: 0.5580 - acc: 0.7313 - loss: 0.5579  - ETA: 0s - loss: 0.5579 - ac
Epoch 13/100
25724/25724 [==============================] - 14s 547us/sample - loss: 0.5577 - acc: 0.7307 - lo - ETA: 7s - loss: 0.5587 - acc: 0.729 - ETA: 7s - loss: 0.558 - ETA: 6s - loss: 0.5597 -  - ETA: 5s - los - ETA: 4s - loss:  - ETA: 3s - loss - ETA: 2 - ETA: 1s - loss: 0.5597 - acc: 0.72 - ETA: 1s - loss: 0.559
Epoch 14/100
25724/25724 [==============================] - 7s 267us/sample - loss: 0.5576 - acc: 0.7311s - loss: 0.55 - ETA: 0s - loss: 0.5572 - ac
Epoch 15/100
25724/25724 [==============================] - 12s 471us/sample - loss: 0.5578 - acc: 0.7313 - los - ET - ETA: 0s - loss: 0.5567
Epoch 16/100
25724/25724 [==============================] - 11s 412us/sample - loss: 0.5574 - acc: 0.7312A: 4 - ETA:  - ETA: 1s
Epoch 17/100
25724/25724 [==============================] - 11s 440us/sample - loss: 0.5572 - acc: 0.7317 - los
Epoch 18/100
25724/25724 [==============================] - 12s 459us/sample - loss: 0.5568 - acc: 0.7319 - loss: 0.5550 - acc: 0.733 - ETA: 1s - loss: 0.5552 - acc: 0 - ETA: 0s - loss: 0.5550 - acc: 0.7 - ETA: 0s - loss: 0.5557
Epoch 19/100
25724/25724 [==============================] - 11s 434us/sample - loss: 0.5567 - acc: 0.7314
Epoch 20/100
25724/25724 [==============================] - 10s 389us/sample - loss: 0.5567 - acc: 0.7310 - loss: - ETA: 5s - loss: 0.5592 - a - ETA: 4s - loss: 0.5589 - acc: 0.729 -
Epoch 21/100
25724/25724 [==============================] - 5s 205us/sample - loss: 0.5562 - acc: 0.7311s - loss: 0.5559
Epoch 22/100
25724/25724 [==============================] - 9s 355us/sample - loss: 0.5565 - acc: 0.7307s - loss: 0.5553 - acc: 0.730 - ETA: 1s - loss: 0.5551 - - ETA: 1s - l
Epoch 23/100
25724/25724 [==============================] - 10s 400us/sample - loss: 0.5560 - acc: 0.7312 ETA: 10s - loss: 0.5591 - - ETA: 5s - loss: 0.5619 - - ETA: 2s - loss: - ETA: 1s -
Epoch 24/100
25724/25724 [==============================] - 10s 374us/sample - loss: 0.5561 - acc: 0.7309 - loss: - ETA: 1s - loss: 0.5529 - acc: 0.733 - ETA: 1s - loss: 0.5529 - acc: 0. - ETA: 1s -
Epoch 25/100
25724/25724 [==============================] - 11s 413us/sample - loss: 0.5559 - acc: 0.7317 - loss: 0.55 - ETA: 1s - loss: 0.5552 - acc - ETA:
Epoch 26/100
25724/25724 [==============================] - 10s 402us/sample - loss: 0.5559 - acc: 0.7321 - - ETA:
Epoch 27/100
25724/25724 [==============================] - 9s 350us/sample - loss: 0.5558 - acc: 0.7332s - loss: 0.5569 - acc: 0.72  - ETA: 0s - loss: 0.5555 -
Epoch 28/100
25724/25724 [==============================] - 10s 378us/sample - loss: 0.5556 - acc: 0.7320  - ETA: 1s - loss: 0.555 - ETA: 0s - loss: 0.5549 - acc
Epoch 29/100
25724/25724 [==============================] - 7s 289us/sample - loss: 0.5555 - acc: 0.7318
Epoch 30/100
25724/25724 [==============================] - 6s 247us/sample - loss: 0.5558 - acc: 0.7308
Epoch 31/100
25724/25724 [==============================] - ETA: 0s - loss: 0.5549 - acc: 0.7315- ETA: 2s - loss: 0.5542 - acc: 0  - ETA: 2s - ETA: 0s - loss: 0.5 - 7s 280us/sample - loss: 0.5553 - acc: 0.7312
Epoch 32/100
25724/25724 [==============================] - 13s 518us/sample - loss: 0.5554 - acc: 0.7322
Epoch 33/100
25724/25724 [==============================] - 5s 185us/sample - loss: 0.5552 - acc: 0.7310
Epoch 34/100
25724/25724 [==============================] - 5s 185us/sample - loss: 0.5552 - acc: 0.7322s - lo
Epoch 35/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5551 - acc: 0.7317- ETA: 3s - l
Epoch 36/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5551 - acc: 0.73170s - loss: 0.5555 - acc: 0.73
Epoch 37/100
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5553 - acc: 0.7321
Epoch 38/100
25724/25724 [==============================] - 4s 160us/sample - loss: 0.5553 - acc: 0.7321
Epoch 39/100
25724/25724 [==============================] - 3s 120us/sample - loss: 0.5550 - acc: 0.7323
Epoch 40/100
25724/25724 [==============================] - 4s 148us/sample - loss: 0.5550 - acc: 0.7321
Epoch 41/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.5548 - acc: 0.7326
Epoch 42/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5547 - acc: 0.7306
Epoch 43/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.5546 - acc: 0.7319s - loss: 0.5537 - acc: 0.7
Epoch 44/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.5548 - acc: 0.7325s - loss: 0.5562 - a
Epoch 45/100
25724/25724 [==============================] - 4s 160us/sample - loss: 0.5547 - acc: 0.7330
Epoch 46/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5548 - acc: 0.7330
Epoch 47/100
25724/25724 [==============================] - 11s 434us/sample - loss: 0.5545 - acc: 0.7322 - loss: 0.5555 - acc: 0.73 - ETA: 5s - loss: 0.5552 - acc: 0.7 - ETA: 5s - loss: 0.5550 - ac - ETA: 0s - loss:
Epoch 48/100
25724/25724 [==============================] - 8s 296us/sample - loss: 0.5546 - acc: 0.7329s - loss: 0.5533 - ETA: 7s - loss: 0.5503 - acc:  - ETA:  - ETA: 4s - loss: 0 - ETA: 2s - loss: 0.
Epoch 49/100
25724/25724 [==============================] - 5s 196us/sample - loss: 0.5548 - acc: 0.7324
Epoch 50/100
25724/25724 [==============================] - 4s 143us/sample - loss: 0.5545 - acc: 0.7321s - loss: 0.5521 - acc:  - ETA: 0s - loss: 0
Epoch 51/100
25724/25724 [==============================] - 5s 181us/sample - loss: 0.5545 - acc: 0.7320
Epoch 52/100
25724/25724 [==============================] - 10s 383us/sample - loss: 0.5540 - acc: 0.7332 - loss: 0.5541 - acc: 0.73 - ETA: 0s - loss: 0.55
Epoch 53/100
25724/25724 [==============================] - 8s 320us/sample - loss: 0.5544 - acc: 0.7331s  - ETA - ETA: 0s - loss: 0.5544 - acc: 0.733
Epoch 54/100
25724/25724 [==============================] - 5s 176us/sample - loss: 0.5544 - acc: 0.7323
Epoch 55/100
25724/25724 [==============================] - 6s 216us/sample - loss: 0.5542 - acc: 0.7328s - loss: 0.5554 - acc: - ETA: 2s - loss: 0.5531 - ac - ETA: 2s - ETA: 2s -
Epoch 56/100
25724/25724 [==============================] - 7s 287us/sample - loss: 0.5541 - acc: 0.7325: 0s - loss: 0.554 - ETA: 0s - loss: 0.5542 - acc: 0.73
Epoch 57/100
25724/25724 [==============================] - 9s 337us/sample - loss: 0.5541 - acc: 0.7324s - loss:
Epoch 58/100
25724/25724 [==============================] - 5s 176us/sample - loss: 0.5541 - acc: 0.7322
Epoch 59/100
25724/25724 [==============================] - 4s 173us/sample - loss: 0.5543 - acc: 0.7320
Epoch 60/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5542 - acc: 0.7327
Epoch 61/100
25724/25724 [==============================] - 4s 153us/sample - loss: 0.5539 - acc: 0.7329
Epoch 62/100
25724/25724 [==============================] - 4s 145us/sample - loss: 0.5542 - acc: 0.7318s - loss: 0.5567 - ETA: 0s - loss: 0.5535 -
Epoch 63/100
25724/25724 [==============================] - 4s 136us/sample - loss: 0.5540 - acc: 0.7325s - l - ETA: 0s - loss: 0.5533 - acc: 0.73
Epoch 64/100
25724/25724 [==============================] - 4s 153us/sample - loss: 0.5537 - acc: 0.7326
Epoch 65/100
25724/25724 [==============================] - 4s 153us/sample - loss: 0.5539 - acc: 0.7338
Epoch 66/100
25724/25724 [==============================] - 6s 237us/sample - loss: 0.5537 - acc: 0.7336
Epoch 67/100
25724/25724 [==============================] - 14s 541us/sample - loss: 0.5540 - acc: 0.7326 - ETA: 1s - loss: 0.55
Epoch 68/100
25724/25724 [==============================] - 9s 342us/sample - loss: 0.5537 - acc: 0.7329
Epoch 69/100
25724/25724 [==============================] - 5s 179us/sample - loss: 0.5537 - acc: 0.7329
Epoch 70/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5535 - acc: 0.7331
Epoch 71/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.5536 - acc: 0.7322
Epoch 72/100
25724/25724 [==============================] - 7s 255us/sample - loss: 0.5535 - acc: 0.7331s - loss: 0.551 - E
Epoch 73/100
25724/25724 [==============================] - 8s 305us/sample - loss: 0.5536 - acc: 0.7334
Epoch 74/100
25724/25724 [==============================] - 4s 170us/sample - loss: 0.5536 - acc: 0.7327
Epoch 75/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5536 - acc: 0.7336
Epoch 76/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5535 - acc: 0.7334
Epoch 77/100
25724/25724 [==============================] - 3s 128us/sample - loss: 0.5534 - acc: 0.7330
Epoch 78/100
25724/25724 [==============================] - 3s 120us/sample - loss: 0.5535 - acc: 0.7329
Epoch 79/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5534 - acc: 0.7333
Epoch 80/100
25724/25724 [==============================] - 8s 322us/sample - loss: 0.5536 - acc: 0.7341s - lo
Epoch 81/100
25724/25724 [==============================] - 10s 406us/sample - loss: 0.5534 - acc: 0.7335
Epoch 82/100
25724/25724 [==============================] - 6s 226us/sample - loss: 0.5534 - acc: 0.7336
Epoch 83/100
25724/25724 [==============================] - 5s 209us/sample - loss: 0.5534 - acc: 0.7337
Epoch 84/100
25724/25724 [==============================] - 6s 217us/sample - loss: 0.5533 - acc: 0.7334
Epoch 85/100
25724/25724 [==============================] - 9s 334us/sample - loss: 0.5532 - acc: 0.7331s - loss: 0.5543
Epoch 86/100
25724/25724 [==============================] - 10s 399us/sample - loss: 0.5531 - acc: 0.7341
Epoch 87/100
25724/25724 [==============================] - 15s 571us/sample - loss: 0.5535 - acc: 0.7323A: 2s - loss: 0.5549 -  - ETA: 1s - loss: 0.5547 - acc - ETA: 1s - loss:
Epoch 88/100
25724/25724 [==============================] - 13s 502us/sample - loss: 0.5532 - acc: 0.7328 - ETA: 0s - loss: 0.5525 -
Epoch 89/100
25724/25724 [==============================] - 11s 413us/sample - loss: 0.5533 - acc: 0.7327s - loss: 0.5547
Epoch 90/100
25724/25724 [==============================] - 11s 413us/sample - loss: 0.5533 - acc: 0.7327
Epoch 91/100
25724/25724 [==============================] - 10s 401us/sample - loss: 0.5533 - acc: 0.7339
Epoch 92/100
25724/25724 [==============================] - 9s 360us/sample - loss: 0.5530 - acc: 0.7332s - loss: 0.5528 - acc: 0.73
Epoch 93/100
25724/25724 [==============================] - 10s 387us/sample - loss: 0.5533 - acc: 0.7337 - lo
Epoch 94/100
25724/25724 [==============================] - 6s 233us/sample - loss: 0.5534 - acc: 0.7333s - loss: 0.5573 - acc: 0.
Epoch 95/100
25724/25724 [==============================] - 7s 267us/sample - loss: 0.5532 - acc: 0.7341s - loss: 0
Epoch 96/100
25724/25724 [==============================] - 9s 358us/sample - loss: 0.5533 - acc: 0.7331s - loss: 0.5538 - acc: 0.73 - ETA: 1s - loss: 0.55
Epoch 97/100
25724/25724 [==============================] - 11s 429us/sample - loss: 0.5532 - acc: 0.7333
Epoch 98/100
25724/25724 [==============================] - 10s 398us/sample - loss: 0.5529 - acc: 0.7335 - loss: 0.5538 - ETA: 0s - loss: 0.553
Epoch 99/100
25724/25724 [==============================] - 10s 389us/sample - loss: 0.5530 - acc: 0.73310s - loss: 0.53 - ETA: 10s - loss - ETA:
Epoch 100/100
25724/25724 [==============================] - 11s 431us/sample - loss: 0.5532 - acc: 0.7333 - loss: 0.5536 - acc: 0.7

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 2s - loss: 0.5634 - acc: 0.7264
Loss: 0.5633616806883853, Accuracy: 0.7264139652252197

In [16]:
import h5py
print(h5py.__version__)

3.7.0

In [18]:
# Export our model to HDF5 file
filepath= r"C:\Users\19802\Desktop\UNCC_bootcamp_03-23\Challenge _module01\module_21_deep_learning_21\AlphabetSoupCharity.h5"
nn.save(filepath,save_format='h5')